<h2><%= @host.hostname %></h2>

<table class="table autopagerize_page_element">
  <col class="span2" />
  <col class="span2" />
  <col class="span2" />
  <col class="span3" />
  <col class="span3" />
  <thead>
    <tr>
      <th>時刻</th>
      <th>種別</th>
      <th>実行時間</th>
      <th>セッションID</th>
      <th>リクエストID</th>
    </tr>
  </thead>
  <tbody id="logs">
    <%= render @logs %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @logs, :remote => true %>
</div>
